node_modules
.git
.gitignore
*.md
.env
*.env
.vscode
android
play-store-assets
whatsapp-bot
chime-coins-main
*.zip
*.jks
*.key
*.pub
senhaplaystore
chaves-privadas-oracle
apis
ssh-key-*
financeapp-key*
dist
backend/uploads/*
!backend/uploads/.gitkeep
supabase
bun.lockb
