staticSites:
  - name: finance-app
    buildCommand: npm install && npm run build
    publishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_SUPABASE_PROJECT_ID
        sync: false
      - key: VITE_SUPABASE_PUBLISHABLE_KEY
        sync: false
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_GEMINI_API_KEY
        sync: false
